body {
  font-family: "Montserrat", sans-serif;
  background-color: #e5e5e5;
  padding: 40px;
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  background: #ffffff;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
/* main content */
.main-content {
  padding: 88px;
}

/* about me */
.my-profession {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  margin: 0 0 18px 0;
}

.my-name {
  color: #000;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px;
  margin: 0 0 28px 0;
}

.my-descr {
  color: #595959;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 525px;
}

.about-me-container {
  margin-bottom: 64px;
}

/* Projects */

.main-content-title {
  color: #000;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  margin: 0 0 8px 0;
}
.project-item {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.project-list {
  padding: 0 0 0 14px;
  margin: 0;
}

.projects-container {
  margin-bottom: 48px;
}

.project-item-descr {
  color: #595959;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.project-item-link {
  color: #005fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: underline;
}

/* Work-experience */

.work-experience-container {
  margin-bottom: 44px;
}

.work-experience-position {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  margin: 0;
}

.work-experience-place {
  margin-bottom: 16px;
}
.work-experience-comp {
  color: #6d9bf5;
}

.work-experience-period {
  color: #a8a8a8;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 12px 0 8px 0;
}

.work-duties {
  color: #595959;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.work-duties-list{
  padding: 0 0 0 14px;
  margin: 0;
}
/* Education */

.education-place{
  color: #6D9BF5;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 12px 0 12px 0;
}

.my-speciality {
  color: #000;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin: 12px 0 12px 0;
}


/* sidebar */

.sidebar {
  width: 370px;
  background: #e0ebfe;
}

.my-photo {
  margin-top: 40px;
}

.contacts-container,
.tech-skills-container,
.soft-skills-container {
  margin: 48px 0 0 40px;
}
.sidebar-title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  margin-bottom: 8px;
}

/* contacts */

.contacts-type {
  color: #161d2a;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin-right: 8px;
}

.contacts-item {
  margin: 0;
}

.contacts-number {
  color: #161d2a;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: none;
}

.contacts-email {
  color: #2979ff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.skills-list {
  margin: 0;
  padding: 0 0 0 12px;
}
.skills-list-item {
  color: #6d9bf5;
}
.skills-list-text {
  color: #161d2a;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
